.navbar{
    width: 250px;
    min-height: 100vh;
    margin-top: 0px;
    background-color: #363740;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.left{
    background-color: #363740;
    height: 100%;
    width: 250px;
}
.navbar .dash{
    background-color: #363740;
    margin-left: 5px;
    margin-top: 15px;
    align-items: left;
}
.navbar .dash h2{
    background-color: #363740;
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
    letter-spacing: 1px;
}

@media only screen and (max-width:550px) {

    .logo{
       font-size: 25px;
       margin: 0 0.5rem;
    }

    .navbar ul{
       margin: 0 0.5rem;
    }
        
    .button {
        font-size: 15px;
        text-decoration: none;
        margin: 10px;
        letter-spacing: 0.5px;
    }

}