.navbar{
    width: 250px;
    min-height: 100vh;
    margin-top: -10px;
    background-color: #363740;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.left{
    padding-top: 30px;
    background-color: #363740;
    height: 100%;
    width: 250px;
}
.left .dash{
    background-color: #363740;
    height: 56px;
    align-items: left;
}
.nam{
    background-color: #363740;
    margin-left: 30px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
}
.left .dash:hover{
     height: 56px;
    background-color: #9FA2B4;
}
.left .dash .nam:hover{
     height: 56px;
    background-color: #9FA2B4;
}
@media only screen and (max-width:550px) {

    .logo{
       font-size: 25px;
       margin: 0 0.5rem;
    }

    .navbar ul{
       margin: 0 0.5rem;
    }
        
    .button {
        font-size: 15px;
        text-decoration: none;
        margin: 10px;
        letter-spacing: 0.5px;
    }

}